<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-avatar (click)="selectImageSource()" class="profile-pix">
    <ion-img src="https://tse2.mm.bing.net/th?id=OIP.Lqo6-5-nWEcsQv-N06HPGAHaFk&pid=Api&P=0&w=227&h=172"></ion-img>
  </ion-avatar>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Kingsley Mgbams</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      A motivated developper that is ready to exceed expectations
    </ion-card-content>
  </ion-card>

</ion-content>
